services:
    - Wame\ChameleonComponents\DataLoader

    # Factories
    - Wame\ChameleonComponents\IDataSpacesBuilderFactory

    # Presenter
    - {class: Wame\ChameleonComponents\IO\DataLoaderPresenterListener, tags: [run]}

    # Registers
    DataLoaderDriverRegister:
        class: Wame\ChameleonComponents\Registers\DataLoaderDriverRegister