services:
    - Wame\ChameleonComponents\DataLoader

    # Factories
    - Wame\ChameleonComponents\IDataSpacesBuilderFactory

    # Presenter
    - {class: Wame\ChameleonComponents\IO\DataLoaderPresenterListener, tags: [run]}

    # Registers
    DataLoaderDriverRegister:
        class: Wame\ChameleonComponents\Registers\DataLoaderDriverRegister
        setup:
            - add(Wame\ChameleonComponents\Registers\Types\StatusDataLoaderDriver(), 'StatusDataLoaderDriver', 80)

    QueryTypesRegister:
        class: Wame\ChameleonComponents\Registers\QueryTypesRegister
        setup:
            - add(Wame\ChameleonComponents\Registers\Types\QueryTypeSelect(), 'select')
            - add(Wame\ChameleonComponents\Registers\Types\QueryTypeCountList(), 'countList')